################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUDoperationAPP/v16
/bin
/Content
/obj/Debug
/packages/AngularJS.Core.1.8.2
/packages/AngularJS.Route.1.8.2
/packages/Microsoft.AspNetCore.Mvc.Abstractions.2.0.0
/packages/Microsoft.AspNetCore.Mvc.Core.2.0.0
/packages/Boilerplate.AspNetCore.TagHelpers.3.0.0
/packages/EntityFramework.6.2.0/lib
/packages/EntityFramework.6.2.0/tools
/packages/EntityFramework.6.2.0
/packages/Html5Boilerplate.WebForm.0.9.2/content/Scripts/libs
/packages/Html5Boilerplate.WebForm.0.9.2/content/Styles
/packages/Html5Boilerplate.WebForm.0.9.2/content/Scripts/plugins.js
/packages/Html5Boilerplate.WebForm.0.9.2/content/Scripts/script.js
/packages/Html5Boilerplate.WebForm.0.9.2/content
/packages/Html5Boilerplate.WebForm.0.9.2/obj/Debug
/packages/Html5Boilerplate.WebForm.0.9.2/Properties
/packages/Microsoft.AspNet.Mvc.5.2.7
/packages/Microsoft.AspNet.Razor.3.2.7/lib/net45
/packages/Html5Boilerplate.WebForm.0.9.2
/Properties
/Scripts/libs
/Scripts/script.js
/Scripts/plugins.js
/Scripts/angular.min.js.map
/Scripts/angular.min.js
/Scripts/angular.js
/Scripts/angular-route.min.js.map
/Scripts/angular-route.min.js
/Scripts/angular-route.js
/Scripts/angular-mocks.js
/Web.Debug.config
/Web.Release.config
/Html5Boilerplate.Master.designer.cs
/Html5Boilerplate.Master.cs
/Html5Boilerplate.Master
/CRUDoperationAPP.csproj
/apple-touch-icon.png
/apple-touch-icon-precomposed.png
/apple-touch-icon-72x72-precomposed.png
/apple-touch-icon-57x57-precomposed.png
/apple-touch-icon-114x114-precomposed.png
/CRUDoperationAPP.csproj.user
/.vs/CRUDoperationAPP/config
